language: java
install: true
addons:
  sonarcloud:
    organization: bakdata
    token: $SONAR_TOKEN
    branches:
      - master
      - dev

jdk:
- oraclejdk8

script:
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install
- sonar-scanner

cache:
  directories:
  - $HOME/.m2